body{
  /* background-image: url(../img/background.png); */
  background-color: whitesmoke;
  background-position: center;
  font-family: 'maple';
  background-position: top;
  color: black;
}

@font-face {
  font-family: 'maple';
  src: url(../font/Maplestory-Bold.woff);
}

#main{
  /* background-color: rgba(255, 255, 255, 0); */
  width: 80%;
  text-align: center;
  border-radius: 20px;
  
}

p{
  font-size: 20px;
}

.main_color{
  background-color: pink;
}

.main_color:active, .main_color:hover{
  background-color: rgb(252, 170, 184);
  color : whitesmoke
}